.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Header h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: #cc1043;
    letter-spacing: 1px;
}

.Header .Dropdown {
    background-color: #fff;
}